.container{
    width: 100px;
    height: 400px;
    background-color: white;
    margin: 10px auto;
    border: 2px solid black;
    border-radius:10px 10px 0px 0px;
    box-sizing: content-box;
    position: relative;
}

.innerContainer{
    width: 100px;
    background-color: green;
    box-sizing: border-box;
    border-radius:8px 8px 0px 0px;
    position: absolute;
    bottom: 0px;

}